<%= form_with(url: students_path, method: :get, local: true, class: "form-inline") do |form| %>
    <div>
    <!--Choose the Major-->
      <%= form.label :major, "Select Major", class: "form-label" %>
      <%= form.select :major, options_for_select(Student::VALID_MAJORS), { prompt: "Any Major" }, name: 'search[major]', class: "form-control" %>
    </div>

    <div>
    <!--Graduation date filter(Before or After)-->
        <%= form.label :grad_date_filter, "Graduation Date Filter", class: "form-label" %>
        <%= form.radio_button :grad_date_filter, 'before', checked: params.dig(:search, :grad_date_filter) == 'before',  name: 'search[grad_date_filter]' %> Before
        <%= form.radio_button :grad_date_filter, 'after', checked: params.dig(:search, :grad_date_filter) == 'after',  name: 'search[grad_date_filter]' %> After
    </div>

    <div>
    <!--Date Picker-->
        <%= form.label :graduation_date, "Graduation Date", class: "form-label" %>
        <%= form.date_field :graduation_date, value: params.dig(:search, :graduation_date), name: 'search[graduation_date]', class: "form-control" %>
    </div>
   
    <div>
    <!--submit button and show all button-->
      <%= form.submit "Search", class: "btn btn-primary" %>
      <%= link_to "Show All", students_path(show_all: true), class: "btn btn-secondary" %>
    </div>
<% end %>
   